@model IEnumerable<SmarkHealthKidoPack.Models.Food>

@{
    ViewData["Title"] = "FoodList";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}
@foreach (var item in Model)
{

    var photoPath = "~/Images/" + (item.photopath ?? "noimage.jpg");

    <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
        <img class="card-img-top" title="Click to View Product detail"
             style="cursor:pointer;height:160px;width:100%"
             src="@photoPath" asp-append-version="true" style="border-radius:.60rem;" />

        <div class="card-block text-center">
            <h4 class="card-title">@item.FoodName</h4>
            <p class="card-text">@item.foodCalories</p>
            <a asp-action="EditView" asp-route-id="@item.FoodId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
        </div>
    </div>

}
