@model IEnumerable<SmarkHealthKidoPack.Models.Food>
@{
    Layout = "~/Views/Shared/GuardianLayout.cshtml";
}



<div class="container">




    @if (ViewBag.cart != null)
    {
    <div class="content">
        <div class="animated">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-align-justify"></i>
                    <strong class="card-title" v-if="headerText">Modals</strong>
                </div>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#smallmodal">
                        Small
                    </button>
                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#mediumModal">
                        Medium
                    </button>
                    <button type="button" class="btn btn-success mb-1" data-toggle="modal" data-target="#largeModal">
                        Large
                    </button>
                    <button type="button" class="btn btn-info mb-1" data-toggle="modal" data-target="#scrollmodal">
                        Scrolling
                    </button>
                    <button type="button" class="btn btn-danger mb-1" data-toggle="modal" data-target="#staticModal">
                        Static
                    </button>
                </div>
            </div>


            <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="smallmodalLabel">Small Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                There are three species of zebras: the plains zebra, the mountain zebra and the Grévy's zebra. The plains zebra
                                and the mountain zebra belong to the subgenus Hippotigris, but Grévy's zebra is the sole species of subgenus
                                Dolichohippus. The latter resembles an ass, to which it is closely related, while the former two are more
                                horse-like. All three belong to the genus Equus, along with other living equids.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumModalLabel">Medium Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                There are three species of zebras: the plains zebra, the mountain zebra and the Grévy's zebra. The plains zebra
                                and the mountain zebra belong to the subgenus Hippotigris, but Grévy's zebra is the sole species of subgenus
                                Dolichohippus. The latter resembles an ass, to which it is closely related, while the former two are more
                                horse-like. All three belong to the genus Equus, along with other living equids.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">Large Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                <table cellpadding="2" cellspacing="2" border="1">
                                    <tr>
                                        <th>Option</th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Photo</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Sub Total</th>
                                    </tr>
                                    @foreach (var item in ViewBag.cart)
                                    {
                                        <tr>
                                            <td><a asp-action="Remove" asp-route-id="@item.food.FoodId">Remove</a></td>
                                            <td>@item.food.FoodId</td>
                                            <td>@item.food.FoodName</td>

                                            <td> <img src="~/images/09399758-c7d7-45d6-95c9-455cff68b2d1_choclate shake.jpg" style="border-radius:.60rem;" width="193" height="130" /> </td>
                                            <td>@item.food.Price</td>
                                            <td>@item.quantity</td>
                                            <td>@(item.food.Price * item.quantity)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td align="right" colspan="6">Sum</td>
                                        <td>
                                            @ViewBag.total
                                        </td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a asp-action="Save" >add</a>
                            @*<button name="Buttons" value="register" asp-action="Save" class="btn btn-primary">Confirmssss</button>*@
                            @*<button type="button" class="btn btn-primary">Confirm</button>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="scrollmodalLabel">Scrolling Long Content Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                               
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticModalLabel">Static Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                This is a static modal, backdrop click will not close it.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button  type="button" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    }
      
           





                <div class="align-content-center text-center">

                    <h2 class="text-center">@ViewBag.chid</h2>
                </div>


                @foreach (var item in Model)
                {

                    var photoPath = "~/Images/" + (item.photopath ?? "noimage.jpg");

                    <div class="card rounded-circle" style="width: 20rem; height:27rem; text-align:center;display:inline-block;">


                        <div class="card-block text-center ">
                            <h3 class="card-title bg-warning ">@item.foodCategory.FoodCategoryName</h3>
                            <img class="card-img-top " title="Click to View Product detail"
                                 style="cursor:pointer;height:200px;width:100%"
                                 src="@photoPath" asp-append-version="true" style="border-radius:.60rem;" />
                            <h2 class="card-title">@item.FoodName</h2>
                            <p class="card-text">Calories: @item.foodCalories</p>



                            @*//class="ti-pencil-alt"*@

                            <a asp-action="AddToCart" asp-route-id="@item.FoodId">add</a> |
                            <a class="ti-layout-grid4" asp-action="Details" asp-route-id="@item.FoodId"></a> |
                            <a class="ti-close" asp-action="Showcart">show shopping cart</a>
                        </div>

                    </div>
                }






            </div>

        </div>






    </div>