@model IEnumerable<SmarkHealthKidoPack.Models.FoodCategory>

@{
    ViewData["Title"] = "FoodCategoryList";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}

<h1>FoodCategoryList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
